
.text-upper {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.resetLi {
  list-style-type: none;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}

// Ampliar y reducir texto relativo al tamaño actual. Para que funcione ha de colocarse dentro de un spam y añadirle la clase
// Ejemp <h1><span class="textBig">Hola Mundo</span></h1>
.textBig {
  font-size: 1.2em;
}
.textBigBig {
  font-size: 1.4em;
}
.textBigBigBig {
  font-size: 1.8em;
}
.textSmall {
  font-size: 0.9em;
  line-height: 0.8em;
}
.textSmallSmall {
  font-size: 0.8em;
  line-height: 0.6em;
}
.textSmallSmallSmall {
  font-size: 0.6em;
  line-height: 0.4em;
}
.textCenter {
  text-align: center;
}



.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.noPadding {
  padding: 0 !important;
}
.noMargin {
  margin: 0 !important;
}


//Imagenes responsive. Mixing en bootstrap/mixins/image.less
.img-responsive {
  .img-responsive();
}

.maxWith-1500{
  max-width: 1500px !important;
  margin-left: auto;
  margin-right: auto;
}





