
extends ./boilerplate.jade

block title
  title= pageTitle + " | página de inicio"
block description
  meta(name='description', content='descripción de la página')

block header
  header.container-fluid

block content
  .container-fluid
    .row
      main.col-sm-8
          h1 Añadir contenido de la página
          p Hago un cambio para probar gulp y ver como se comporta el repo y el fork
      aside.col-sm-4
        ul
            li item01
            li item02
            li item03
            li item040

block footer
  footer
    p todos los derechos reservados
